@import "tailwindcss";



/* Scrollbar (opcional, mas bom pra UX) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 116, 139, 0.4);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 116, 139, 0.6);
}

/* Transições suaves globais */
* {
  transition: background-color 0.2s ease, color 0.2s ease;
}

@font-face {
  font-family: "NeueMetana";
  src: url("/public/fonts/NeueMetana-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueMetana";
  src: url("/public/fonts/NeueMetana-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}